/*
How does css syntax work?

selector              property          value        declaring end
    |                     |                |               |
    a        {     background-color   :   red     ;       }
             |                        |           |
        declaring start           separator   separator
*/

/* using the '*' selector we can apply the rules to every element. */
*{
    /* This is not recommended: */
    margin: 0.5%;
    padding: 0.5%;

    text-align: center;
    align-content: center;
}

p:hover{
    color: black;
}

/* this two are important for centering the list. */
ul {
    text-align: center;
    border: 75%;
    padding: 75%;
}
    
li {
    display: inline-block;
}

a{
    text-decoration: none;
    color: red;
}

a:hover{
    color: salmon;
}

a:visited{
    color: violet;
}

a:active{
    color :black;
}

/* everything that should be general, should go here.*/
body{
    background-color: mistyrose;
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: normal;
    /* this line is the same as the 3 lines above */
    font: normal medium Arial, Helvetica, sans-serif;
    /* em s are used for line hight. you may also use px but em is a better option. */
    line-height: 1.5em; 
    margin: 0;
}

h1{
    color: lightgoldenrodyellow;
}

.titles{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-decoration: underline;
    font-weight: 700;
}

.container{
    width: 75%;
    /* for a detailed explanation looke at screenshot 2 and 3. */
    /* margin works the same as padding.*/
    margin: auto;
}

.style_one{
    text-align: center;
    background-color: gold;
    color: lightcoral;

    /*
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    */
    border: 5px red ridge;
    border-radius: 80px;
    padding: 5px
}

.hashtags{
    border: 10px red ridge;
    border-radius: 15px;
    border-color: yellow;
    padding: 0.12%;
}

.floating{
    float: left;
    width: 30%;
    box-sizing: border-box;
}

.small_text{
    font-size: small;
    line-height: 1em;
}

.clear{
    clear: both;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 5px solid black;
}

/* Play with the positions and see what happens. */
.p-box h1{
    color: red;
    position: relative;
    top: 50px;
}

.fix_me{
    position: fixed;
    top: 90%;
    left: 90%;
}

.button{
    border: 3px black ridge;
    color: red;
    background: blue;
}

#something{
    text-anchor: end;
}